.livro-back{
    background-color: white;
    overflow-x: hidden;
    width: 100vw;
}
.livro-back .hero{
    background-color: #db9942;
    height: 100vh;
}
.livro-back .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30vh;
}
.hero h1{
    font-size: 50px;
    color: white;
}
.hero p{
    font-family: "MedievalSharp";
    color: white;
    font-size: 30px;
}
.carac-analise .back{
    position: relative;
    font-family: "Jacquard 24", serif;
    text-decoration: none;
    color: black;
    font-size: 60px;
    margin-left: 35%;
}
.hero .livro{
    position: absolute;
    width: 250px;
    left: 42%;
    right: 50%;
    bottom: 180px;
}
.livro-back .voltar{
    color: black;
}
.books{
    margin-top: 30vh;
}
.livro-back .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.livro-back .row .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 50%;
    gap: 45%;
    margin-left: 100px;
}
.livro-back .row .left h2{
    width: 200px;
}
.livro-back .row .right {
    display: none;
    position: absolute;
    right: -550px; /* Inicialmente fora da tela */
    width: auto;
    height: auto;
    background-color: #db9942;
    transition: right 0.3s ease; /* Para uma transição suave */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    padding: 50px;
    border-radius: 20px;
}
.livro-back .row .right h1{
    text-align: center;
}
.row .right a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 0;
}
.row .right a:hover{
    color:rgb(247, 232, 212)
}
.testemonials{
    background-color: rgb(247, 232, 212);
    color: white;
    margin: 100px 0;
    padding: 6rem;
}
.testemonials .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testemonials .quote{
    font-weight: bold;
    font-size: 3rem;
    line-height: 5rem;
    padding: 0 2rem 6rem;
    text-align: center;
}
.testemonials .quote a{
    text-decoration: none;
    font-family: 'MedievalSharp', sans-serif;
    color: #7f7f7f;
}
.testemonials .quote a:hover{
    color: #8a7862;
}
.testemonials .icons{
    display: flex;
    justify-content: space-between;
    gap: 120px;
}
.testemonials img{
    width: 170px;
    height: 170px;
}
.carac-analise .container{
    margin: 100px;
}
.carac-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 100px 0 0 0;
}
.card-carc{
    border: 1px solid wheat;
    border-radius: 2px;
    background-color: rgb(250, 243, 233);
    padding: 2rem;
}
.card-carc ul{
    list-style: none;
}
.card-carc h1{
    font-family: 'Jacquard 24', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}
.card-carc p{
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}
.card-carc p:last-child{
    text-align: left;
    font-size: 20px;
}
.card-carc .autor-p{
    font-family: 'Jacquard 24', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0;
}
.card-carc ul li{
    font-size: 19px;
    color: rgb(167, 122, 25); 
}
.livro-back .line{
    width: 100%;
    height: 2px;
    background-color: #d9d9d9;
    margin: 10px;
}
.livro-back .line:last-child{
    margin-bottom: 50px;
}
.analise .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 50px;
    gap: 50px;
}
.analise .container .autor-analise{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.analise ul{
    list-style-type: none;
}
.analise .container .autor-analise .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.analise .container .autor-analise .title .title-t{
    font-family: 'Jacquard 24', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.analise .container .autor-analise .poema{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 20px;
    border: 1px solid #d9d9d9c4;
    border-radius: 10px;
    border-bottom: 3px solid #d9d9d9;
    width: 50%;
    gap: 15px;
}
.analise .container .autor-analise .poema h2{
    margin-bottom: 15px;
}
.analise .container .autor-analise .poema li{
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    color: #7f7f7f;
    font-family:'MedievalSharp';
}
.books-mob{
    display: none;
}
footer{
    font-size: 10px;
    text-align: end;
    padding: 5px;
    color: rgb(156, 156, 156);
    background-color: rgb(0, 0, 0);
    width: 100%;
}

@media(width<900px){
    .livro-back .hero{
        padding: 0;
        align-items: center;
        text-align: center;
    }
    .livro-back .books{
        display: none;
    }
    .livro-back .books-mob{
        display: flex;
        margin: 50px 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .livro-back .books-mob .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 25px;
    }
    .livro-back .books-mob a{
        text-decoration: none;
        color: #8a7862;
        background-color: wheat;
        padding: 5px;
        border-radius: 10px;
        font-size: 23px;
    }
    .testemonials{
        padding: 20px;
    }
    .testemonials .quote{
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 5rem;
        padding: 0 2rem 6rem;
        text-align: center;
    }
    .testemonials .icons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .testemonials img{
        width: 100px;
        height: 120px;
    }
    .carac-analise .back{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 50px;
        color: black;
    }
    .carac-analise .carac-cards{
        display: grid;
        grid-template-columns: 1fr;
    }
    .carac-analise .container{
        margin: 10px 20px 30px 20px;
    }
    .analise .container .autor-analise .poema{
        width: auto;
    }
}