@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=MedievalSharp&family=Nova+Oval&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Nova Oval";
}
.voltar{
    position: fixed;
    font-family: "Jacquard 24", serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin-left: 45vw;
}
.autor .voltar{
    position: relative;
    color: black;
}
.voltar:hover, .names a:hover{
    opacity: 0.8;
}
.item{
    overflow: hidden;
}