@media (max-width: 900px) {
    .container {
        flex-direction: column;
        padding: 50px;
    }
    .fundo{
        height: 100%;
    }
    .campo {
        width: 60vw;
        top: 50px;
    }
    .autor-img {
        width: 400px;
    }
    .names {
        flex-direction: column;
        align-items: center;
        padding-top: 70vh;
    }
    .direita, .esquerda {
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
    .voltar {
        font-size: 50px;
        margin-left: 40vw;
    }
    .autor h1, .middle-div h2 {
        font-size: 60px;
    }
    .middle-div li li {
        font-size: 30px;
        margin-left: 100px;
    }
    .resumo p {
        font-size: 40px;
        width: 60vw;
    }
    .quadro{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
    .campo {
        width: 80vw;
    }
    .autor-img {
        width: 250px;
    }
    .names {
        padding-top: 50vh;
    }
    .voltar {
        font-size: 40px;
        margin-left: 30vw;
    }
    .autor h1, .middle-div h2 {
        font-size: 40px;
    }
    .middle-div li li {
        font-size: 25px;
        margin-left: 50px;
    }
    .resumo p {
        font-size: 30px;
        width: 70vw;
    }
    #prev, #next {
        width: 50px;
        height: 50px;
        font-size: large;
    }
}
@media (max-width: 300px) {
    .container {
        padding: 10px;
    }
    .campo {
        width: 90vw;
    }
    .autor-img {
        width: 200px;
    }
    .names {
        padding-top: 40vh;
    }
    .voltar {
        font-size: 30px;
        margin-left: 20vw;
    }
    .autor h1, .middle-div h2 {
        font-size: 30px;
    }
    .middle-div li li {
        font-size: 20px;
        margin-left: 30px;
    }
    .resumo p {
        font-size: 25px;
        width: 80vw;
    }
    #prev, #next {
        width: 40px;
        height: 40px;
        font-size: medium;
    }
}